<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyPasswordRecoveryPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyPasswordRecoveryPDF.Properties.Settings>
            <setting name="RemoveWhitespaceFromString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverwritePasswordFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordCasing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PasswordStorageFilename" serializeAs="String">
                <value>PdfPasswordStorage.txt</value>
            </setting>
            <setting name="SelectedSavePath" serializeAs="String">
                <value />
            </setting>
        </EasyPasswordRecoveryPDF.Properties.Settings>
    </userSettings>
               </configuration>